.episode-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 4px;
  width: calc(100% - 32px);

  & > img {
    height: fit-content;
    max-height: 222px;
  }

  & > p {
    font-size: 14px;
    color: #aeaeb0;
  }
}
