@use "../../styles/variables.scss";

.tabs {
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow-x: auto;
}

.tabs__list {
  display: flex;
  gap: 24px;
}

.tab {
  color: variables.$black-200;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1.5px;
  cursor: pointer;
  transition: color 0.3s ease;
  white-space: nowrap;

  &:hover {
    color: variables.$black-100;
  }
}

.tabs__line {
  height: 2px;
  position: relative;
  background-color: variables.$black-600;
  width: 100%;
}

.tabs__active-indicator {
  height: 2px;
  position: absolute;
  background-color: variables.$main-default;
  transition: all 0.3s ease;
}
