.episodes-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 360px;
  padding: 0px 16px;
  margin-right: 36px;

  &__container {
    display: flex;
    flex-direction: column;
  }
}
