//Colors
$main-default: #2f5a4b;
$main-yellow: #f5a623;

$info-xsm: #cceeff;
$info-sm: #81d5ff;
$info-default: #16b1ff;
$info-lg: #1687c0;
$info-xlg: #006192;

$success-xsm: #eaffda;
$success-sm: #b3ff7b;
$success-default: #56ca00;
$success-lg: #429a01;
$success-xlg: #2d6a00;

$warning-xsm: #fff5dc;
$warning-sm: #ffe29d;
$warning-md: #fac74c;
$warning-default: #ffb400;
$warning-lg: #c28a04;
$warning-xlg: #7c5800;

$error-xsm: #ffeaea;
$error-sm: #ffbfbd;
$error-default: #e73e39;
$error-lg: #aa120d;
$error-xlg: #670300;

$text-primary: #9ea1a6;
$text-secondary: #9e9fa1;
$text-tertiary: #7f8082;
$text-disabled: #bfbfbf;

$bg-main: #14181b;

$white: #ffffff;
$black-50: #fafafa;
$black-75: #f5f5f5;
$black-100: #dedfe1;
$black-200: #b1b2b4;
$black-300: #9fa6ae;
$black-350: #aeaeb0;
$black-400: #646464;
$black-500: #6b6c6e;
$black-600: #2a2b2d;
$black-700: #171b1e;
$black-800: #212123;
$black-900: #111111;

// Fonts
$font-primary: "Nunito", sans-serif;

// Screens
$screen-xs: 360px;
$screen-sm: 480px;
$screen-md: 720px;
$screen-lg: 960px;
$screen-xl: 1140px;
$screen-xxl: 1220px;
