@use "../../styles/variables.scss";

.top-awards {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0px;

  & > article {
    & > h3 {
      padding-bottom: 4px;
      border-bottom: 1px solid #646464;
    }
  }
}

.top-awards__categories {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 8px 16px;

  & > li {
    display: flex;
    align-items: flex-start;
    gap: 8px;
  }
}

.top-awards__categories__type {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 8px;
  border-radius: 4px;
  width: 84px;
  background-color: #212123;

  &--winner {
    background-color: variables.$main-default;
  }
}

@media screen and (max-width: variables.$screen-sm) {
  .top-awards__categories {
    & > li {
      flex-direction: column;
      gap: 8px;
    }
  }

  .top-awards__categories__type {
    width: 100%;
  }
}
