@use "../../styles/variables.scss";

.tv-show-details {
  display: flex;
  flex-direction: column;
}

.tv-show-details__main-section {
  width: 100%;
  min-height: calc(100vh - 220px);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.tv-show-details__header {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  padding: 32px 30px 0px 50px;
  color: variables.$white;

  & > div {
    & > h1 {
      font-size: 48px;
      letter-spacing: 1px;
    }

    & > p {
      font-size: 16px;
      font-weight: 400;
      color: #9fa6ae;
    }
  }

  & > svg {
    min-width: 26px;
    min-height: 26px;
    stroke-width: 1px;
    cursor: pointer;
    transition: color 0.3s ease;

    &:hover {
      color: #fff;
    }
  }
}

.tv-show-details__episodes {
  display: flex;
  justify-content: flex-end;
}

.tv-show-details__info {
  background-color: variables.$bg-main;
  padding: 26px 62px;
  min-height: 220px;
  position: relative;
}

@media screen and (max-width: variables.$screen-lg) {
  .tv-show-details__episodes {
    margin-top: 24px;
  }

  .tv-show-details__header {
    padding: 24px;
  }
}
